POSTGRES_DB=todo_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_local_password

DEV_DATASOURCE_URL=jdbc:postgresql://localhost:5433/todo_db
DEV_DATASOURCE_USERNAME=postgres
DEV_DATASOURCE_PASSWORD=change_me_local_password
